version: "3"

volumes:
  db:
      driver: local

services:
  database:
    image: postgres:14-alpine
    hostname: florgon-auth-api
    restart: always
    volumes:
      - ../db:/var/lib/postgresql/data
    env_file: 
      - .database.env
  server:
    hostname: florgon-auth-api
    restart: always
    env_file:
      - .server.env
    volumes:
      - ./auth-api:/srv/www/florgon/auth-api
    ports:
      - "${COMPOSE_EXPOSED_PORT}:8000"
    depends_on:
      - database
    links:
      - database
    build: .
    command: "uvicorn app.app:app --host ${COMPOSE_LOCAL_HOST}"